<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt" lang="pt-BR" > <!-- manifest="cache.appcache" -->
<head>  
  <title>
    {% if page.title %}
      {{ page.title }} -
    {% endif %}
    {{ site.name }}
  </title>
  {% if page.post %}
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="{{ page.type }}" />
  <meta property="og:article:author" content="{{ site.name }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:locale" content="{{ page.locale }}" />
  <meta property="og:description" content="{{ page.description }}" />
  {% endif %}
  <!--meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" /-->
  
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  {% if site.feedburner %}
  <link href="http://feeds.feedburner.com/{{ site.feedburner.id }}" rel="alternate" type="application/atom+xml" />
  {% endif %}

  <link media="screen, projection" href="/css/base.css" type="text/css" rel="stylesheet" />
  <link media="screen, projection" href="/css/pygments.css" type="text/css" rel="stylesheet"/>
  <link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

</head>

<body>
  <section class="sidebar">
    <a href="/">
      <div class="avatar"></div>
    </a>

    <section class="name">
      <a href="/">
        <span id="fname">{{ site.name|split:' '|first }}</span>
        <span id="lname">{{ site.name|split:' '|last }}</span>
      </a>
    </section>

    <section class="meta">
      <a href="https://github.com/{{ site.github }}" target="_blank">
        <span class="clipwrapper" >
          <img class="clip glyphicons_github" alt="GitHub" title="GitHub" src="/images/sprites.png"/>
        </span>
      </a>
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
        <span class="clipwrapper" >
          <img class="clip glyphicons_twitter odd" alt="Twitter" title="Twitter" src="/images/sprites.png"/>
        </span>
      </a>
      <a href="https://facebook.com/{{ site.facebook }}" target="_blank">
        <span class="clipwrapper" >
          <img alt="Facebook" title="Facebook" class="clip glyphicons_facebook" src="/images/sprites.png"/>
         </span>
      </a>
      <a href="https://plus.google.com/{{ site.gplus }}/posts" target="_blank">
        <span class="clipwrapper" >
          <img alt="Google Plus" title="Google Plus" class="clip glyphicons_google_plus odd" src="/images/sprites.png"/>      
        </span>
      </a>
      <a href="mailto:{{ site.email }}" target="_blank">
        <span class="clipwrapper" >
          <img alt="Email" title="Email" class="clip glyphicons_e-mail" src="/images/sprites.png"/>
        </span>
      </a>
      <a href="/atom.xml" target="_blank">
        <span class="clipwrapper" >
          <img alt="Feed" title="Feed" class="clip glyphicons_rss odd" src="/images/sprites.png" />
        </span>
      </a>
    </section>

    <section class="sections">
      <ul>
        <li><a href="/">posts</a></li>
        <li><a href="/about.html">about</a></li>

      </ul>
    </section>
  </section>

  {{ content }}

	<script async type="text/javascript">
//<!-- Google -->
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28697404-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();  
  window.___gcfg = {lang: 'pt-BR'};
    (function() { var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/plusone.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
    //<-- Twitter -->
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  //<!-- Facebook -->
  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id; js.async = true; js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
  <script async type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script async type="text/javascript" src="/js/application.js"></script>
</body>
</html>
