---
layout: layout
---

<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <!-- TODO: bio here -->
  <section class="meta">
    <div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="mrpavllo" data-lang="pt">Tweetar</a>
      <div class="g-plusone" data-size="medium"></div>
      <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="tahoma"></div>
    </div>


    <h3>Discussion, links, and tweets</h3>
    <section class="copy">
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank">        
        <img src="{{ site.img_url }}"/>
      </a>
      <p>
        I'm a developer at GitHub. <a href="https://twitter.com/{{ site.twitter }}" target="_blank">Follow me on Twitter</a>;
        you'll enjoy my tweets. I take care to carefully craft each one. Or at least aim to make
        you giggle. Or offended. One of those two&mdash; I haven't decided which yet.
      </p>
    </section>
  </section>

  {% if site.disqus %}
  <div id="comments">
    <h2>Comments</h2>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_identifier = "{{ page.url }}";
      var disqus_shortname = '{{ site.disqus.id }}';
      (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript={{ site.disqus.id }}">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
  {% endif %}
  
<div id="fb-root"></div>
</section>